input[type="text"]{
  height: 40px;
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 0 10px;
}

label{
  color: #381D2A;
  margin-bottom: 10px;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.single-input{
  margin-bottom: 15px;
}