@import "Components/Input/Input.scss";

:root{
  --color-primary: #BA5624;
}

*{
  box-sizing: border-box;
}

.App{
  background-color: #c4d6b0;
  min-height: 100vh;
  .App-header{
    background: var(--color-primary);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  

  main{
    padding: 10px 15px;
  }
}